html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Comfortaa", cursive;
  min-height: 100%;
  min-width: 100%;
  background-color: #272b30 !important;
  color: #fff !important;
}
.home .card {
  filter: grayscale(0.7);
  transition: transform 0.5s, filter 0.5s 0.1s;
}
.home .card:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nerko One", cursive;
  color: #fff !important;
}
.card-text {
  color: #fff !important;
}
nav {
  background-color: rgb(59, 73, 122) !important;
}
.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: #09c !important;
  transition: color 0.5s;
}
.games {
  background-image: url(../images/wraper.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.loading {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: #272b30e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: relative;
  color: #09c;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
